.quiz-display {
  background-color: rgb(190, 221, 249);
  color: #333;
  padding: 30px;
  border-radius: 12px;
  max-width: 900px;
  margin: 40px auto; 
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Courier New', monospace;
  line-height: 1.6;
  font-size:14px;
  white-space: pre-wrap;
  height: 400px;
  overflow-y: auto; /* scrolls if content overflows */

}
